:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    --font-sans: "Kumbh Sans", sans-serif;
    --font-normal: 400;
    --font-bold: 700;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100svh;
    background-color: var(--Dark-cyan);
    font-family: var(--font-sans);
    position: relative;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
   
}

.bg-top{
    pointer-events: none;
    position: absolute;
    top: -31.875rem;
    left: -17.8125rem;
    z-index: 1;
}

.bg-bottom{
    pointer-events: none;
    bottom: -39.375rem;
    right: -14.5625rem;
    position: absolute;
    z-index: 1;
}

.profile{
    position: relative;
    overflow: hidden;
    z-index: 5;
    border-radius: 0.8rem;
    background-color: white;
    color: var(--Dark-grayish-blue);
    margin: 0 auto;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.profile_bg{
    height: 8.75rem;
    object-fit: cover;
}


.profile_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_image{
    width: 6.625rem;
    height: 6.625rem;
    border-radius: 9999px;
    border: 5px solid white;
    margin-top: -3.4375rem;
    margin-bottom: 1.3125rem;
}
.profile_details{
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.8125rem
}

.name{
    color: var(--Very-dark-desaturated-blue);
    font-size: 1.125rem;
    margin-right: 0.5625rem;
}

.address{
    margin-bottom: 1.625rem;
    font-size: 0.875rem;
}

.profile_socials {
    width: 100%;
    padding: 1.625rem 1.625rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

.numbers{
    font-size: 1.125rem;
    font-weight: var(--font-bold);
    color: var(--Very-dark-desaturated-blue);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 0.5rem;
}

.class{
    font-size: 0.625rem;
    letter-spacing: 0.15em;
}